body {
    align-items: center;
    background-color: #f5f5f5;
    display: flex;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.contenedor {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    height: auto;
    width: 500px;
}

.contenedor-titulo h1 {
    color: #1b7709;
    text-align: center;
}

.contenedor-calculadora {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

.contenedor-calculadora label {
    font-size: 16px;
    font-weight: 500;
}

.contenedor-calculadora input {
    border: none;
    border-radius: 4px;
    font-size: 16px;
    height: 40px;
    padding: 0 10px;
    width: 200px;
}

.contenedor button {
    background-color: #1b7709;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    width: 200px;
}

.contenedor button:hover {
    background-color: #4ea3ff;
    color: #000;
}

p {
    font-weight: 500;
    text-align: center;
}